<div class="container container-outer">

  <div class="card card-error">
    <strong>{{fa-icon "gavel"}} Banned!</strong> Currently banned by Marius Truckster for <i>RDM and VDM + being disrespectful towards staff</i>.
  </div>

  <h1>{{model.name}} ({{model.identifier}})</h1>
  <p>
    This player has a total playtime of <strong>5 days, 23 hours, 20 minutes, and 55 seconds</strong> spent on Legacy Roleplay. Visit their
    steam profile at <a href={{model.steamProfile}}>{{model.steamProfile}}</a>.
  </p>

</div>